{namespace f=TYPO3Fluid\Fluid\ViewHelpers}
<html lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fluid Templating Engine</title>
        <!-- Add Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>

    <f:render partial="navbar" />

    <div class="container">
        <f:render partial="hotels" arguments="{hotels: hotels}"/>
    </div>

    <f:render partial="footer" />

    </body>
</html>