<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotels on the strip</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card w-3">
                <div class="card-body">
                    <h5 class="card-title">###hotel###</h5>
                    <p class="card-text">Some description about Hotel 1 here...</p>
                </div>
            </div>
        </div>
        <!--
        <div class="col-md-4">
            <div class="card w-3">
                <div class="card-body">
                    <h5 class="card-title">###hotel2###</h5>
                    <p class="card-text">Some description about Hotel 2 here...</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card w-3">
                <div class="card-body">
                    <h5 class="card-title">###hotel3###</h5>
                    <p class="card-text">Some description about Hotel 3 here...</p>
                </div>
            </div>
        </div> -->
    </div>
</div>
</body>
</html>